@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root{
  --mainBrown: rgb(45, 30, 31);
  --lightBrown: rgb(105, 64, 3);
  --mainYellow: #f5d600;
  --mainGrey:  #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: 'Raleway', sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display SC', serif !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important; /*added otherwise overlay wouldn't display*/
  background: rgba(24, 15, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.anna-ja-emma {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important; /*added otherwise overlay wouldn't display*/
  background: rgba(24, 15, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.anna-ja-emma h1{
  border-top: 2.5px solid var(--mainYellow);
  border-bottom: 2.5px solid var(--mainYellow);
}

.about-background {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important; /*added otherwise overlay wouldn't display*/
  background: rgba(24, 15, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.btn-yellow {
  color: var(--mainBrown);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background: var(--mainBrown);
  color: var(--mainWhite);
  border-color: var(--mainBrown);
}

.footer {
  background: var(--mainBrown);
}

.menu {
  background: var(--mainGrey);
}
