@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root{
  --mainBrown: #2d1ef1;
  --mainYellow: rgb(105, 64, 3);
  --mainGrey:  #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);¨
  font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display SC', serif !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important; /*added otherwise overlay wouldn't display*/
  background: rgba(24, 15, 0, 0.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.anna-ja-emma {
  border-top: 2px solid rgb(255, 238, 0);
  border-bottom: 2px solid rgb(255, 238, 0);
}